{% extends 'catalog/base.html' %}

{% block content %}


<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
                </div>
                <div>
                    <img class="card-img-top" src="..." alt="Card image cap">
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₽ {{ object.purchase_price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <p><strong>Описание:</strong> {{ object.description|truncatechars:100 }}</p>
                        <p><strong>Категория:</strong> {{ object.category }}</p>
                        <p><strong>Дата создания:</strong> {{ object.created_date }}</p>
                        <p><strong>Дата последнего изменения:</strong> {{ object.modified_date }}</p>
                        <a href="{% url 'catalog:home' %}" class="btn btn-lg btn-block btn-outline-primary">Каталог</a>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
</script>

{% endblock %}